*::before,
*::after {
  box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
  }


/*ARTICLE*/
.article-container{
    height: fit-content;
    background-color: #fef7e2;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #742305;
}
.article-container img{
    object-fit: contain;
    padding: 20px;
}

@media screen and (max-width: 700px){
    .article-container{
        flex-direction: column;
    }
    .article-container img{
        order: 1;
    }
}
